.add-area,
.search-area,
.data-area {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.add-area input {
  margin-right: 10px;
}

.data-list li {
  list-style-type: none;
  padding: 10px;
  border-bottom: 1px solid #cccccc;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  padding: 20px;
}

.add-area input[type='text'] {
  width: 30%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #cccccc;
}

.add-area button,
.search-area button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

.ascButtun {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  width: 70px;
  height: 35px;
}

.descButtun {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  width: 70px;
  height: 35px;
}

.clearButtun {
  background-color: #ff0055;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 10px;
  cursor: pointer;
}

.deleteButton {
  background-color: #ff0055;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 2px 5px;
  cursor: pointer;
}

.listItem {
  display: flex;
  align-items: center; /* 縦中央揃え */
  gap: 10px; /* 要素間の余白 */
}

.add-area button:hover,
.search-area button:hover {
  background-color: #0056b3;
}

.ascButtun:hover,
.descButtun:hover {
  background-color: #0056b3;
}

.clearButtun:hover {
  background-color: #d50047;
}

.deleteButton:hover {
  background-color: #d50047;
}

.search-input {
  width: 30%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #cccccc;
}

.type-select {
  width: 30%;
  padding: 9px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  margin-right: 10px;
}

/* ページネーションの全体 */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* 各ページ番号のスタイル */
.pagination li {
  margin: 0 5px;
}

/* クリック可能なページ番号のリンク */
.pagination a {
  text-decoration: none;
  color: #007bff;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  /* transition: background-color 0.2s; */
}

/* ホバー時の背景色 */
.pagination a:hover {
  background-color: #f1f1f1;
}

/* 現在のページ番号（アクティブページ） */
.pagination .active a {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.pagination .active a:hover {
  background-color: #0056b3;
}

/* 前後ページのリンク（next/previous） */
.pagination .previous a,
.pagination .next a {
  font-weight: bold;
}

/* 次ページ、前ページのリンクが無効な場合 */
.pagination .disabled a {
  color: #ccc;
  pointer-events: none;
  cursor: not-allowed;
}

.cover1 img{
  width: 50px;
  height: 40px;
}

img{
  object-fit: cover;
}

.error {
  color: red;
  margin-bottom: 10px;
}